<header>
  <h1>🚗 Car Dealership</h1>
  <nav>
    <a routerLink="/">Home</a>

    <a routerLink="/cart">Cart ({{ itemCount }})</a>

    <a *ngIf="authService.getRole() === 'ROLE_ADMIN'" routerLink="/admin">Admin Panel</a>
    <a *ngIf="authService.getRole() === 'ROLE_USER'" routerLink="/my-orders">User Panel</a>


    <ng-container *ngIf="authService.isLoggedIn(); else loggedOut">
      <span style="margin-right: 10px">Logged in as: {{ authService.getUsername() }}</span>
      <a (click)="logout()" style="cursor: pointer">Logout</a>
    </ng-container>

    <ng-template #loggedOut>
      <a routerLink="/login">Login</a>
    </ng-template>
  </nav>
</header>
