<h2>🛠️ Admin Control Panel</h2>

<h3>Create User</h3>
<form (ngSubmit)="createUser()">
  <label>Username: <input [(ngModel)]="newUser.username" name="username" /></label>
  <label>Password: <input [(ngModel)]="newUser.password" type="password" name="password" /></label>
  <label>
    Role:
    <select [(ngModel)]="newUser.role" name="role">
      <option value="ROLE_USER">User</option>
      <option value="ROLE_ADMIN">Admin</option>
    </select>
  </label>
  <button type="submit">Create User</button>
</form>

<hr />
<h3>👥 Registered Users</h3>

<table border="1" cellpadding="5">
  <thead>
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Role</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{ user.id }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.role }}</td>
  </tr>
  </tbody>
</table>


<hr />

<h3>Add Product</h3>
<form (ngSubmit)="createProduct()">
  <label>Name: <input [(ngModel)]="newProduct.name" name="name" /></label>
  <label>Description: <input [(ngModel)]="newProduct.description" name="description" /></label>
  <label>Year: <input type="number" [(ngModel)]="newProduct.year" name="year" /></label>
  <label>Price: <input type="number" [(ngModel)]="newProduct.price" name="price" step="0.01" /></label>
  <label>Category:
    <select [(ngModel)]="newProduct.category" name="category">
      <option [ngValue]="undefined">-- None --</option>
      <option *ngFor="let cat of categories" [ngValue]="cat">{{ cat.name }}</option>
    </select>
  </label>

  <button type="submit">Add Product</button>
</form>

<hr />
<h3> Products </h3>

<table border="1" cellpadding="5">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Category</th>
    <th>Year</th>
    <th>Price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <td>{{ product.id }}</td>
    <td>{{ product.name }}</td>
    <td>
      <select [ngModel]="product.category"
              (ngModelChange)="onCategoryChange(product, $event)">
        <option [ngValue]="undefined">-- None --</option>
        <option *ngFor="let cat of categories" [ngValue]="cat">{{ cat.name }}</option>
      </select>
    </td>

    <td>{{ product.year }}</td>
    <td>€{{ product.price | number:'1.0-2' }}</td>
  </tr>
  </tbody>
</table>

<hr />
<h3>📁 Manage Categories</h3>

<form (ngSubmit)="addCategory()">
  <label>Category name:
    <input [(ngModel)]="newCategory.name" name="categoryName" />
  </label>
  <button type="submit">➕ Add Category</button>
</form>

<ul>
  <li *ngFor="let cat of categories">
    {{ cat.name }}
    <button (click)="deleteCategory(cat.id!)">🗑️ Delete</button>
  </li>
</ul>

